<EmailConfig>
  <DisplayName>Cholila Agroindustrial S.R.L.</DisplayName>
  <Address>info@cholilasrl.com.ar</Address>
  <ReplyToAddress></ReplyToAddress>
  <Signature>{0}{0}Cholila Agroindustrial S.R.L.{0}Las Heras 87- Lobos{0}Tel.: +54 2227 43-2151{0}info@cholilasrl.com.ar</Signature>
  <SmtpServer>mail.cholilasrl.com.ar</SmtpServer>
  <SmtpUserName>info@cholilasrl.com.ar</SmtpUserName>
  <SmtpPassword></SmtpPassword>
  <SmtpPort>465</SmtpPort>
  <SmtpUseSsl>true</SmtpUseSsl>
  <SmtpTimeout>30000</SmtpTimeout>
  <SendMethod>NETCLIENT</SendMethod>
  <SendMaxPerHour>200</SendMaxPerHour>
</EmailConfig>